body {
    width: 950px;
}

.grid-div {
    display: flex;
    gap: 10px;
    height: 950px;
    width: 950px;
}

.row-style {
    display: flex; 
    flex-direction: column; 
    gap: 10px;
    width: 100%
}
.white {
    color: white;
}



.square-settings {
    padding: 10px;
}

.button-div {
    text-align: center;
    margin: 50px;
}

.div-init {
    flex: 1;
}