body {
    width: 950px;
}

.grid-div {
    display: flex;
    gap: 10px;
    height: 950px;
    width: 950px;
}

.row-style {
    display: flex; 
    flex-direction: column; 
    gap: 10px;
    height: 100%;
    width: 100%;
}

.div-init {
    height: 100%;
    width: 100%;
    background-color: red;
}

.square-settings {
    padding: 10px;
    height: 100%
}

.white {
    color: white;
}





.button-div {
    text-align: center;
    margin: 50px;
}

